.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
}

.column {
  flex: 1;
  width: 30px;
  box-sizing: border-box;
  display: flex; /* Add display: flex */
  flex-direction: column; /* Make it a column layout */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center;
}

.column h2 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.column p {
  color: #aeadad;
}

.coltext {
  order: 0;
}

.colImg {
  order: 1;
}
@media (max-width: 960px) {
  .column {
    flex-basis: 100%;
  }

  .column:nth-child(odd) {
    order: -1; /* Change the order of odd columns */
  }

  .coltext {
    order: 1;
  }
  .colImg {
    order: 0;
  }
}
