.container {
  background-color: #2a2a2a;
  color: white;
  height: 250px;
  width: 100%;
  display: flex;
  /* margin-top: 700px; */
  position: relative;
}

.column {
  display: flex;
  /* justify-content: center; Add this */
  align-items: flex-end;
  flex: 1;
}

.column:first-child {
  justify-content: flex-start;
  padding: 20px 100px;
}

.corner {
  display: flex;
  justify-content: flex-end;
  padding: 5px 40px;
}
